<div class="topNav">
    <nav class="navbar navbar-expand-lg fixed-top navbar-default mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">Waitlist Me</a>
            <span class="material-icons text-white mobile" data-toggle="collapse" data-target="#myNavbar">
                dehaze
            </span>
            <ul class="nav navbar-nav" id="desktop">
                <li class="nav-item">
                    <a class="nav-link" href="#Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link v-line" href="#"> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Adminsignin">Admin SignIn</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">SignUp</button>
                </li>
            </ul>
        </div>
        <div id="myNavbar" class="collapse">
            <ul class="list-group list-group-flush mt-2">
                <a href="#Home" class="list-group-item list-group-item-action">Home</a>
                <a href="#About" class="list-group-item list-group-item-action">About Us </a>
                <a href="#Blog" class="list-group-item list-group-item-action">Blog</a>
                <a href="#Contact" class="list-group-item list-group-item-action">Contact Us</a>
                <a href="/signin" class="list-group-item list-group-item-action">Sign In</a>
                <a href="/Adminsignin" class="list-group-item list-group-item-action">Admin SignIn</a>
                <a href="#" class="list-group-item list-group-item-action">SignUp</a>
                <button type="button" class="btn btn-primary">SignUp</button>
            </ul>
        </div>
    </nav>
</div>
