.first-section{
    background-image:url('../../assets/bg.jpg');
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
}
.first-section::before{
    position: absolute;
    content: "";
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
}
a{
    color: white;
    cursor: pointer;
}
ul li a:hover,.navbar-default ul li a:active{
    color: white;
    text-decoration: underline;
}
.nav-item{
    padding: 20px 10px;
}
.nav-item .btn-primary{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 23px;
}
.v-line{
    margin-top: 10px;
    border-right: 2px solid white;
    height: 20px;
}
.list-group-item{
    width: 200px;
    color: black;
}
.content h1{
    font-weight: 350;
}
.btn-light{
    background-color:rgba(255,255,255,0.3);
    color: white;
    margin-right: 5px;
}
.about-section,.blog-section{
    padding-top: 70px;
    background-color:rgb(128,128,128,0.1)	;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  .vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
  }
  .navbar-color {
    background-color:white;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    color: black;
  }
  .navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled,.btn-purple{
  background:#b17cc6;
  color: white;
}

.input-group-text{
    border-left: none;
}
.input-group .form-control{
    border-right:none ;
}
.card .badge-light, .third-section .badge-light{
    background-color:rgb(192,192,192,0.3);
}

.card h4{
    margin-top: 15px;
    color: blue;
    font-size: 1.2rem;
}

.card-text{
    font-size: 15px;
    color: gray;
}

.about-section h1,.test-section h1,.blog-section h1,.work-section h1{
    color: #1a66ff;
}
.blog-section h5{
    font-weight: 400;
    color: gray;
}
.test-section hr, .blog-section hr,.work-section hr{
    border-bottom: 5px #1a66ff solid;
    align-items: center;
    width: 9%;
}

.about-section{
    padding-bottom: 90px;
}
.about-section hr{
    border-bottom: 5px #1a66ff solid;
    float: left;
    width: 9%;
    margin-top: 0px;
}
.about-section img{
    height: 181px;
}
.about-section .card{
    margin-top: 30px;
}
.work-section .circle{
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  width: 50px;
  height: 50px;
  background-color:  #AE42C9;
}
.material-icons{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.work-section{
    margin-top: 80px;
    margin-bottom: 100px;
}
.test-section{
    padding-top: 80px;
    padding-bottom: 200px;
}
.test-section i{
    line-break: loose;
    font-size: 30px;
    font-weight: 100;
}
.test-section .material-icons{
    border-radius: 50%;
  align-items: center;
    justify-content: center;
    display: flex;
  width: 60px;
  height: 60px;
  background-color: gray;
}
.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    bottom:10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: gray; 
}
.carousel-indicators .active {
    background-color:#1a66ff;
}
.carousel-indicators {
    bottom: -80px;
}
.box{
    width: 75%;
}
.blog-section{
    padding-bottom:70px ;
}
.blog-section .material-icons{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 7px;
}
.blog-section .card{
    background: transparent;
    border: none;
}
.contact-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1a66ff;
}
.contact-section h1{
    font-weight: 100;
}
.contact-section h5{
    font-weight: 100;
}
.contact-section input{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    padding-left: 5px;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 0px;
    border-bottom: 2px solid white;
}
.contact-section input::placeholder {
    color:white;
    font-style: italic;
    font-size: 20px;
    font-size: 200;
  }
  .contact-section .btn{
      border-radius: 0;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: 500;
  }
  .footer-section{
      padding-top: 70px;
  }
  .footer-section h5{
      font-weight: 100;
  }
  .footer-section input{
      border-color: grey;
      background: transparent;
  }
  .footer-section p{
      line-break: loose;
      color: grey;
  }
  .footer-section ul{
      padding-left: 0px;
  }
  .footer-section li{
      list-style: none;
  }
  .footer-section li a{
      list-style: none;
      color: grey;
      padding-bottom: 10px;
  }
  .footer-section .icon a{
      color: grey;
      padding-right: 20px;
  }
  .footer-section .icon a:hover,.footer-section li a:hover{
      text-decoration: none;
      color: white;
  }
  .footer-section hr{
      color: white;
  }
  .copyrights{
    margin-top: 15px;
    text-align: center;
    border-top: 2px solid grey;
  }
  .copyrights p{
      color: gray;
      margin-top: 50px;
  }
  .testimonials{
      margin-top: 70px;
  }
@media (min-width: 1025px) {
    .mobile{
        display: none;
    }
}
@media (min-width: 300px) and (max-width: 1024px){
    .test-section .cotainer{
        padding: 0px 0px;
    }
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
    .test-section hr,.work-section hr{
        border-bottom: 5px #1a66ff solid;
        align-items: center;
        width: 25%;
    }
    #desktop{
        display: none;
    }
    .first-section{
        background-image:url('../../assets/bg.jpg');
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    background-position: center;
        
    }
}