<div>
    <div class="topNav">
        <nav class="navbar navbar-expand-lg fixed-top navbar-default mb-4">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="../../assets/download.png" alt="Logo" style="width:50px;margin-right: 10px;">WAITLIST ME
                </a>
                <ul class="nav navbar-nav" id="desktop">
                    <li class="nav-item">
                        <a class="nav-link" href="" (click)="logOut()">LogOut</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div class="content">
        <div class="row ml-0 mr-0 d-flex justify-content-center" *ngIf="!loaded">
            <div style="text-align: center;">
                <div class="spinner-border text-primary"></div>
                <p class="text-center">Please wait while loading</p>
            </div>
        </div>
        <div class="container-fluid" *ngIf="loaded">
            <div class="row ml-0 mr-0 d-flex justify-content-center">
                <div>
                    <img src="{{img}}" alt="" srcset="">
                    <h3 class="text-center">{{users.name}}</h3>
                </div>
            </div>
            <div class="row ml-0 mr-0 mt-4 d-flex justify-content-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="card text-white">
                        <div class="card-body text-center">
                            <span>{{users.userUrl}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row ml-0 mr-0 mt-4 d-flex justify-content-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h2>Instructions</h2>
                    <ol>
                        <li>Share your link</li>
                        <li>Get more referals</li>
                        <li>Reach 1st position </li>
                        <li>Get Exciting Gift Coupons</li>
                      </ol>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row ml-0 mr-0 bg-dark mt-4 mb-4 text-white p-3">
                <div class="col-sm-3 left-border">
                    <h4>Initial Position</h4>
                    <h1>{{users.inital}}</h1>
                </div>
                <div class="col-sm-3 left-border ">
                    <h4>Current Position</h4>
                    <h1>{{rneeded}}</h1>
                </div>
                <div class="col-sm-3 left-border ">
                    <h4>No. of referals</h4>
                    <h1>{{referal}}</h1>
                </div>
                <div class="col-sm-3 ">
                    <h4>Percent of Progress</h4>
                    <div class="my-1 progress mt-3 mb-2" style="line-height:2; height:1em !important">
                        <div class="progress-bar"
                             [ngStyle]="{'width': bindcamp(referal)}">
                        </div>
                    </div>
                    <span>{{referal}} of {{users.inital}}</span><span class="float-right">{{per > 100 ? 0 : 100 - per | number : '.2-2'}}% remaining</span>
                </div>
            </div>
            <h2>Refered Users Lists</h2>
            <div class="row ml-0 mr-0 mt-4 mb-4" *ngIf="isPresent">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Current Position</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let cus of refered ; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{cus.name}}</td>
                            <td>{{cus.email}}</td>
                            <td>{{cus.position}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="row ml-0 mr-0" *ngIf="!isPresent">
                <h4>No User Available</h4>
            </div>
        </div>
    </div>
</div>
